name: ruff

on: [push, pull_request]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Setup checkout
        uses: actions/checkout@master

      - name: Set up uv
        # Install a specific uv version using the installer
        run: curl -LsSf https://astral.sh/uv/0.4.1/install.sh | sh

      - name: Lint with ruff
        run: uvx ruff check mwatershed tests
